# ============================================================
# PeduliAnak — Environment Variables
# Copy file ini ke .env dan isi semua value
# ============================================================

# ─── DATABASE ────────────────────────────────────────────────
DATABASE_URL="postgresql://user:password@localhost:5432/pedulianak?schema=public"

# ─── NEXTAUTH ────────────────────────────────────────────────
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Google OAuth (opsional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# ─── GOOGLE GEMINI AI ────────────────────────────────────────
GEMINI_API_KEY=""

# ─── CLOUDINARY (Storage Bukti Laporan) ──────────────────────
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""

# ─── MIDTRANS (Payment Gateway Donasi) ──────────────────────
MIDTRANS_SERVER_KEY=""
MIDTRANS_CLIENT_KEY=""
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=""
MIDTRANS_IS_PRODUCTION="false"

# ─── RESEND (Email Notification) ─────────────────────────────
RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@pedulianak.id"

# ─── WEB PUSH NOTIFICATION ──────────────────────────────────
NEXT_PUBLIC_VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT="mailto:admin@pedulianak.id"

# ─── APP CONFIG ──────────────────────────────────────────────
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="PeduliAnak"
